
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <%= @user.name %>.
    </p>
    <p>
      We have successfully reset your password in Whopay x <%= @group.title %>.<br>
      Your password is now <strong><%= @user.name %></strong>.<br>
      Please log in to your account with this password,
      and change the password right away.
    </p>
    <p>
      Thank you for using Whopay. <br>
      <br>
      Best regards, <br>
      Whopay Team
    </p>
  </body>
</html>
